Date Of Birth:
<select data-ng-model='date.month' required name='monthOfBirth' data-ng-options='month as month for month in months'>
  <option value='' selected=''>Month</option>
</select>
<select data-ng-model='date.day' required name='dayOfBirth' data-ng-options='day as day for day in days'>
  <option value='' selected=''>Day</option>
</select>
<select data-ng-model='date.year' required name='yearOfBirth' data-ng-options='year as year for year in years'>
  <option value='' selected=''>Year</option>
</select>